.grad {  
  background-image: linear-gradient(to bottom, firebrick, rgb(32, 31, 31));
}
.grad1 {  
  background-image: linear-gradient(to bottom, rgb(32, 31, 31), black);
}

#location {
  position:relative;
  display: grid;
  justify-content: center;
  align-items: center;
}

#video {
  position:absolute;
  z-index:1;
  bottom: 190px;
  right: 130px;
  width: 540px;
  height: 310px;
}

#video_overlays {
  position:absolute;
  z-index:5;
  display: grid;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  right: 0px;
}

#messenger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 600px;
  font-family: monospace;
  font-size: 20px;
  white-space: nowrap;
  text-shadow: 0 2px 2px rgba(#000, 0.9);
}

#container {
  overflow: hidden;
}

#particles-js{ 
  position:absolute; 
  width: 100%; 
  height: 100%; 
  background-color: firebrick; 
  background-image: url(""); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: 50% 50%; 
} 

body{ 
  margin:0; 
  font:normal 75% Arial, Helvetica, sans-serif; 
} 
canvas{ 
  display: block; 
  vertical-align: bottom; 
} 
/* ---- particles.js container ---- */ 
