@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
html, body {
  position: relative;
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Roboto Slab', serif;
  color: #000;
  margin: 0;
  padding: 0;
}
.heading {
  background: white;
  height: 5%;
  margin: 10px;
  padding: 10px;
}
.swiper-container {
  width: 100%;
  height: 90%;
}
.swiper-slide {
  text-align: center;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-general {
  padding: 75px 0;
  margin: 0 auto;
  width: 1000px;
}
.container-general .gallery-wrap {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}
.container-general .gallery-wrap .item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: all 0.8s ease;
}
.container-general .gallery-wrap .item:hover {
  flex: 7;
}
.wrap-effect-1 .item:hover {
  transform: translate3d(0, 0, 100px);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  filter: saturate(2) contrast(105%);
}
.wrap-effect-1 .item:first-of-type {
  background-image: url('../assets/css.png');
  background-color: #42a5f5;
}
.wrap-effect-1 .item:nth-of-type(2) {
  background-image: url('../assets/HTML.png');
  background-color: #ff7043;
}
.wrap-effect-1 .item:nth-of-type(3) {
  background-image: url('../assets/C.png');
  background-color: #5c6bc0;
}
.wrap-effect-1 .item:nth-of-type(4) {
  background-image: url('../assets/Java.png');
  background-color: wheat;
}
.wrap-effect-1 .item:last-of-type {
  background-image: url('../assets/VBA.png');
  background-color: #ba68c8;
}
.wrap-effect-2 .item:hover {
  transform: translate3d(0, 0, 100px);
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  filter: saturate(2) contrast(120%);
}
.wrap-effect-2 .item:first-of-type {
  background-image: url('../assets/SQL.png');
  background-color: #e0e0e0;
}
.wrap-effect-2 .item:nth-of-type(2) {
  background-image: url('../assets/Shell\ Scripting.png');
  background-color: #81d4fa;
}
.wrap-effect-2 .item:nth-of-type(3) {
  background-image: url('../assets/Javascript.png');
  background-color: #ffe082;
}
.wrap-effect-2 .item:last-of-type {
  background-image: url('../assets/Linux.png');
  background-color: #81c784;
}
.wrap-effect-3 .item:hover {
  animation: rotate 0.7s ease-in-out both;
  border-radius: 10px;
  border: 1px solid gray;
}
.wrap-effect-3 .item:first-of-type {
  background-image: url('../assets/NET.png');
  background-color: #F26444;
}
.wrap-effect-3 .item:nth-of-type(2) {
  background-image: url('../assets/Ethical.png');
  background-color: #F2CD5C;
}
.wrap-effect-3 .item:nth-of-type(3) {
  background-image: url('../assets/Python.png');
  background-color: #65BFA6;
}
.wrap-effect-3 .item:nth-of-type(4) {
  background-image: url('../assets/Bootstrap.png');
  background-color: #166973;
}
.wrap-effect-3 .item:nth-of-type(5) {
  background-image: url('../assets/Jquery.png');
  background-color: #0E1826;
}
.wrap-effect-3 .item:nth-of-type(6) {
  background-image: url('../assets/Android.png');
  background-color: #0E1826;
}
.wrap-effect-3 .item:nth-of-type(7) {
  background-image: url('../assets/ML.png');
  background-color: #166973;
}
.wrap-effect-3 .item:nth-of-type(8) {
  background-image: url('../assets/JavaFX.png');
  background-color: #65BFA6;
}
.wrap-effect-3 .item:nth-of-type(9) {
  background-image: url('../assets/PLSQL.png');
}
.wrap-effect-3 .item:last-of-type {
  background-image: url('../assets/IOT.png');
  background-color: #f06292;
}
.wrap-effect-4 .item:hover {
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  filter: saturate(2) contrast(120%);
}
.wrap-effect-4 .item:first-of-type {
  background-image: url('../assets/DL.png');
  background-color: #ffe082;
}
.wrap-effect-4 .item:nth-of-type(2) {
  background-image: url('../assets/RL.png');
  background-color: whitesmoke;
}
.wrap-effect-4 .item:nth-of-type(3) {
  background-image: url('../assets/ConAI.png');
  background-color: #4dd0e1;
}
.wrap-effect-4 .item:last-of-type {
  background-image: url('../assets/Node.png');
  background-color: #9ccc65;
}
.inspire {
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
}
.inspire:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}
.inspire:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(10deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-10deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(5deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  filter: url('#goo');
}
.button {
  z-index: 99;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  background: linear-gradient(45deg, #b388eb, #8093f1);
  border-radius: 20px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}
.social {
  opacity: 0;
  position: relative;
  margin: 8px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  text-align: center;
}
.social i {
  margin-top: 10px;
}
.social a {
  color: #fff;
}
.reddit {
  background: #FF5700;
}
.instagram {
  background: #e4405f;
}
.devian {
  background: #2e7d32;
}
.linked {
  background: #00aced;
}
.clicked {
  opacity: 1;
  transition: 1.2s all ease;
  transform: translateY(56px);
}

.socbox {
  width: 80% !important;
  height: 35% !important;
  background-color: rgba(0,0,0,0);
  margin-top: -10%
}

.contact{
  width: 400px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.329);
  font-size: 18px;
  color: white;
  text-align: left;
  margin-right: 5%;
  padding: 2%;
}

.contadd {
  filter: none !important;
}
body {
  overflow: hidden;
}

#map-container-google-1 {
  margin-top: 10%;
}
.map-container iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/* Main styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

.text--transparent {
  fill: transparent;
}

.anim-shape {
  -webkit-transform-origin: 0x 150px;
  -ms-transform-origin: 0x 150px;
  transform-origin: 0x 150px;
  -webkit-transform: scale(0, 1) translate(0, 0);
  -ms-transform: scale(0, 1) translate(0, 0);
  transform: scale(0, 1) translate(0, 0);
  -webkit-animation: moving-panel 3s infinite alternate;
  animation: moving-panel 3s infinite alternate;
}

.colortext .anim-shape:nth-child(1) {
  fill: #0E1826;
}

.colortext .anim-shape:nth-child(2) {
  fill: #166973;
}

.colortext .anim-shape:nth-child(3) {
  fill: #65BFA6;
}

.colortext .anim-shape:nth-child(4) {
  fill: #F2CD5C;
}

.colortext .anim-shape:nth-child(5) {
  fill: #F26444;
}

.shadow {
  -webkit-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  transform: translate(3px, 3px);
}

.anim-shape--shadow {
  fill: #000;
  fill-opacity: .2;
}

@-webkit-keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}

@keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}

/* Other stuff */

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 50px;
  font-weight: bolder;
  word-wrap: break-word;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
